<section class="generic_page"> 
	<h1><%= t :expert_title %></h1> 

	<h2><%= @expert.titre %></h2> 

	<%= image_tag @expert.image.url(:medium) %>
	
	<p><%= nl2br(@expert.texte).html_safe %></p> 

	<p>
		<iframe src="https://www.facebook.com/plugins/like.php?href=http://www.brosseau.qc.ca/expert.html"
	        scrolling="no" frameborder="0"
	        style="border:none; width:450px; height:80px">
		</iframe>
	</p>
	
	<p>
		<div class="fb-comments" data-href="http://www.brosseau.qc.ca/expert.html" data-num-posts="5" data-width="600"></div>	
	</p>
	
	
</section>