.bg1{
    background-image: url(../images/scroller_audio_en.jpg);
}
.bg2{
    background-image: url(../images/scroller_video_en.jpg);
}
.bg3{
    background-image: url(../images/scroller_automation_en.jpg);
}

#new_product{
	width:400px; height:205px;
	background: url(../images/bg_new_en.png) no-repeat;
	position:absolute;
	left:35px;
	top:78px;
}