.bg1{
    background-image: url(../images/scroller_audio_en.jpg);
}
.bg2{
    background-image: url(../images/scroller_video_en.jpg);
}
.bg3{
    background-image: url(../images/scroller_automation_en.jpg);
}