/* A REMPLIR */
#central_header {
	margin: 0 auto;
	padding: 0;
	background:url(../images/bg_header.jpg) no-repeat;
	position: relative;
	top:-15px;
	width: 963px;
	height: 142px;
	font:lighter #FFF 12px Arial;
}

#twitter_tweet { background: url(../images/twitter_tweet.png) no-repeat; position:absolute; left:630px; top:178px; width:30px; height:30px; display:block;}

.generic_page h1 {
	color:#000;
	font-family: "LaneNarrowRegular", Verdana, sans-serif;
	font-size:18px;
	position:relative;
	top:7px;
	padding-bottom:25px;
}