<section class="generic_page">
	<h1>Notre Entreprise</h1>

	<p class="left-align">Notre entreprise est spécialisée dans la conception, l'installation, la mise en service et l'entretien des systèmes audio-vidéo personnalisés, tels que cinéma-maison, systèmes multi-sources / multi-pièces, chaînes de haute-fidèlité musicale, et autres systèmes de divertissement, de communications et de surveillance électroniques.</p>

	<p class="right-align">Appuyé de nos quatre salles de démonstration professionnellement équipées et décorées, nous offrons à notre clientèle des produits de qualité, des conseils à l'atelier ou à domicile et une équipe de techniciens expérimentés, sur place, pour la réparation et l'entretien des appareils et des composantes de systèmes.</p>

	<p class="left-align">Depuis 1992, nous sommes membre de CEDIA (Custom Electronic Design and Installation Association) et nous prenons part activement et régulièrement à son programme intensif de formation en matière de conception, d'installation, d'intégration et d'automatisation. Notre entreprise compte déjà plusieurs années d'expérience, d'expertise, et de réalisations de projets de cinéma maison, de systèmes multi-sources / multi-pièces et autres systèmes audio-vidéo.</p>

	<p class="right-align">Depuis, nous avons acquis les certifications ISF (Imaging Science Foundation) et HAA (Home Acoustics Alliance). Ces deux organismes ont établis une norme de qualité en matière d'imagerie vidéo et d'acoustique résidentielle et de petite salle. Ces certifications assurent a notre clientèle des résultats de qualités supérieurs avec les normes les plus rigoureuses du milieu.</p>
	
</section>