<section class="generic_page">
	<h1>Automatisation</h1>

	<h2>AMX</h2>
	
	<p class="hat">L'emploi de la haute technologie et de l'automatisation dans l'aménagement d'une salle de cinéma maison haut-de gamme peut combler les rêves les plus audacieux. Notre équipe d'experts se charge de les concrétiser.</p>

	<p>Imaginez! Il vous suffit de toucher du doigt un écran tactile pour que l'éclairage diminue progressivement jusqu'au niveau désiré, que les stores se ferment, que l'écran s'abaisse, que le projecteur dissimulé dans le plafond se mettre en place, et que la projection commence alors que vous êtes assis confortablement dans un fauteuil comme au cinéma. Toujours du bout du doigt, vous pouvez ensuite transformer votre salle pour l'écoute musicale ou le visionnement d'un spectacle télévisé sur écran géant.</p>

	<p>On peut utiliser l'écran tactile ou autres claviers a menus dynamiques ou boutons poussoirs dans d'autres pièces, ou "zones", afin de contrôler la musique d'ambiance, l'éclairage, les rideaux... La seule limite est votre imagination!</p>

	<p>Toute cette technologie d'automatisation peut aussi s'appliquer a votre bureau. Eh oui! Pourquoi ne pas rendre l'utile à l'agréable en automatisant votre salle de conférence et ainsi faire meilleure impression devant votre clientèlle.</p>
	
	<p>Chez Brosseau Audio-Video, on a l'expertise et le talent pour le réaliser</p>
	
	
	
	<h2>VANTAGE</h2>
	
	<p>Nos voitures sont aujourd'hui très automatisées: lumières de courtoisie qui s'allument à l'ouverture d'une portière, programmation personnalisée des sièges, des miroirs, du volant, pilote automatique, système de navigation...<br />
		Nos maisons le sont beaucoup moins, mais Vantage peut remedier à la situation par le contrôle automatisé de l'éclairage, des écrans, des rideaux, des stores et des draperies motorisés, des appareils audio-vidéo, du cinéma–maison, du système d'arrosage automatique, de la piscine et du spa...</p>

	<p class="hat">D'abord l'éclairage</p>
	<p>Vantage permet de régler les niveaux d'éclairage et de programmer des scènes d'éclairage selon l'activité, l'ambiance et l'humeur du moment.<br /><br />L'ajustement des niveaux et des scènes d'éclairage intérieur et extérieur, vous permet de montrer votre résidence sous son plus beau jour, de quoi lui donner une personnalité.</p>
	
	<p class="hat">L'éclairage naturel</p>
	<p>Vantage permet aussi de contrôler l'éclairage naturel. La simple pression d'un bouton ou encore mieux la programmation du système actionnera l'ouverture et la fermeture des fenêtres, volets, draperies, rideaux, stores motorisés... selon le temps de la journée, toute l'année durant.</p>

	<p class="hat">Cinéma magique</p>
	<p>On active le clavier ou l'écran tactile et les appareils s'animent et se placent aux bonnes fonctions, l'écran s'abaisse, les stores se ferment, l'éclairage diminue graduellement, la machine à "popcorn" se met en marche et le spectacle commence.<br /><br />Même si vous êtes concentré sur ce qui ce passe à l'écran, la lumière peut clignoter pour vous indiquer que l'on sonne à la porte ou qu'un intrus rôde près de la piscine. Une caméra extérieure peut même vous donner une image à l'écran.</p>
	
	<p class="hat">Sécurité</p>
	<p>Un bouton "Bonne nuit" près de votre lit peut vous rassurer et remplacer votre ronde de nuit quotidienne.<br /><br />Un autre bouton "Vacances" répètera vos activités des derniers jours durant votre absence, laissant croire qu'il y a quelqu'un à la maison.</p>
	
	<p class="hat">Le prix</p>
	<p>Probablement pas plus dispendieux que le système d'automatisation de votre voiture, d'autant plus qu'un système "Vantage" permet des économies d'énergie, augmentera la vie des ampoules électriques et peut se bâtir par étapes.</p>
	
</section>