<section class="generic_page">
	<h1><%= t :automation %></h1>

	<p class="hat">La domotique est l’ensemble des technologies de l'électronique, de l'informatique et des Télécommunications permettant d'automatiser et d'améliorer les tâches au sein d'une maison ou de tout type de bâtiment.</p>

	<h1>La domotique permet de contrôler plusieurs appareils et systèmes dont :</h1>
	<p class="left-align">
		Système d’alarme<br />
		Système de caméras et de télésurveillance<br />
		Chauffage<br />
		Climatisation<br />
		Éclairage<br />
		Porte automatique<br />
		Arrosage automatique<br />
		Store motorisé<br />
		Système audio-vidéo<br />
		Électroménager<br />
		Sonorisation multipièces<br />
	</p>
	
	<p class="left-align">
		Cependant, les besoins peuvent être infinis et l'analyse de ceux-ci est primordiale. L’expertise de nos techniciens certifiés nous permet de réaliser les systèmes selon les critères et budgets de nos clients. Que ce soit pour un petit système audio multipièces ou  une maison complètement domotisée, Brosseau  sera vous satisfaire !  Brosseau depuis 1966 !
	</p>
	
	<p class="left-align">
			Brosseau  est fière d'installer les produits de domotique suivants : <br />
	LOGO SONOS, AMX, VANTAGE CONTROL, CONTROL 4
	</p>
		
</section>