<section class="generic_page">
	<h1><%= t :company %></h1>
	
	<br />	<br />	<br />
	<p class="left-align">
		<%= t :company_text_1 %>
	</p>
	<p class="left-align">
		<%= t :company_text_2 %>
	</p>
	<p class="left-align">
		<%= t :company_text_3 %>
	</p>
	
</section>