<section class="generic_page">
	<h1><%= t :history %></h1>
	
	<br />	<br />	<br />
	<p class="left-align">
		<%= t :history_text_1 %>
	</p>
	<p class="left-align">
		<%= t :history_text_2 %>
	</p>

	
</section>