<section class="generic_page">
	<h1><%= t :team %></h1>
	
	<br />	<br />	<br />
	<p class="left-align">
		<%= t :team_text_1 %>
	</p>
	<p class="left-align">
		<%= t :team_text_2 %>
	</p>
	<p class="left-align">
		<%= t :team_text_3 %>
	</p>

	
</section>